html {
    border: 2px solid green;
    width: 98vw;
}
table {
    border-collapse: collapse;
}

th {
    background-color: gray;
    color: white;
    padding: 5px 12px;
}

th, tr, td {
    border: 1px solid black;
}